<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "GelungSuasa","", class:"btn btn-lg btn-success", id:"logo" %> <!-- The link_to tag is to create 
      a link in the first doublequote and display the path to the second doublequote when the user click it and 
      the class tag is to give a bootstrap element to the link_to tag and id tag is to reference the bootstrap -->
      <div class="nav_item">
        <%= link_to "link 1","", class:"btn btn-default btn-warning" %>
      </div>
      <div class="nav_item">
        <%= link_to "link 2","", class:"btn btn-default btn-warning" %>
      </div>
      <div class="nav_item">
        <%= link_to "link 3","", class:"btn btn-default btn-warning" %>
    </div>
</header>